<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Project - RedAce</title>
    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
</head>

<body>
    <div class="container">
        <h2>Join Project</h2>
        <form method='POST' action="{% url 'join_project' %}">
            {% csrf_token %}
            <div class="input">
                {{ form.as_p }}
            </div>
            <button type="submit">Join</button>
        </form>
        <!-- メッセージの表示 -->
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        <br>
        <p><a href="{% url 'home' %}">Return to home</a></p>
    </div>

</body>

</html>