body {
    background-color: #640000;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    font-size: 32px;
}

.container {
    background-color: #81211e;
    padding: 30px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.container p {
    margin-bottom: 20px;
    font-size: 14px;
}

.container a {
    color: aqua;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

.input {
    text-align: left;
    margin-bottom: 20px;
}

.input label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    box-sizing: border-box;
}

.input input:focus {
    border-color: #8B0000;
    outline: none;
}

.helptext {
    text-align: left;
    margin-top: 10px;
    padding-left: 20px;
    font-size: 12px;
    color: #FFDAB9;
    list-style-type: disc;
}

.container button {
    background-color: #8B0000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.container button:hover {
    background-color: #A52A2A;
}



.errorlist li {
    color: red;
    font-weight: bold;
    background-color: #ffe6e6;
    border: 1px solid red;
    text-decoration: none;
    text-align: left;
}

.error_message p {
    color: red;
    font-weight: bold;
    background-color: #ffe6e6;
    border: 1px solid red;
    text-decoration: none;
    text-align: center;
}


